* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: rgb(121, 0, 169);
	font-size: 20px;
	font-family: sans-serif;
	color: black;
}

.startBtn,
.infoBox,
#quiz {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.infoBox.activeInfo {
	z-index: 5;
	opacity: 0;
	pointer-events: auto;
	transform: translate(-50%, -50%) scale(1);
}

/* Start Quiz Button Styling */
.startBtn button {
	font-size: 24px;
	font-weight: 800;
	color: rgb(121, 0, 169);
	padding: 15px 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	background: white;
	cursor: pointer;
}

.infoBox {
	/* display: none; */
	width: 540px;
	background: #fff;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0.9);
}

.hidden {
	display: none;
}

.infoBox .infoTitle {
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 35px;
	font-size: 24px;
	font-weight: 800;
}

.infoBox .infoList {
	padding: 15px 35px;
}

.infoBox .infoList .info {
	margin: 5px 0;
	font-size: 18px;
}

.infoBox .infoList .info span {
	font-weight: 800;
	color: rgb(121, 0, 169);
}

.infoBox .continueBtn {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 35px;
}

.infoBox .continueBtn button {
	margin: 0 5px;
	height: 40px;
	width: 100px;
	border: none;
	border-radius: 5px;
	background: rgb(121, 0, 169);
	color: white;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
}

#quiz {
	/* display: none; */
	width: 550px;
	background: #fff;
	border-radius: 5px;
	padding: 25px 30px 20px 30px;
	font-weight: 400;
	font-size: 18px;
}

.quizBox header {
	position: relative;
	z-index: 99;
	height: 70px;
	padding: 0 30px;
	background: #ddccff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.quizBox header .title {
	font-size: 26px;
	font-weight: 800;
}

.quizBox header .timer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 145px;
	height: 45px;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 0 8px;
}

.quizBox header .timer .timeText {
	font-weight: 400;
	font-size: 16px;
	user-select: none;
}

.quizBox header .timer .timerSec {
	font-size: 16px;
	font-weight: 400;
	background: rgb(121, 0, 169);
	height: 30px;
	width: 45px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	border: 1px solid rgb(121, 0, 169);
}

#quiz .question {
	font-weight: 800;
	font-size: 26px;
}

#quiz .answers {
	font-weight: 400px;
	font-size: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#submit {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(165px, 360px);
	font-size: 20px;
	background-color: rgb(255, 0, 195);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
	margin: 20px;
}

#submit:hover{
	background-color: #ddccff;
	color: black;
	font-weight: 800;
}